
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}

#preview #rmMarker {
	display: none;
}

.sortable th {
	cursor: pointer;
}

em {
	font-style: italic;
}

/* Font Icon =================== */

@font-face {
	font-family: 'icomoon';
	src:url('/includes/fonts/icomoon.eot');
	src:url('/includes/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/includes/fonts/icomoon.svg#icomoon') format('svg'),
		url('/includes/fonts/icomoon.woff') format('woff'),
		url('/includes/fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}



/* Globals =================== */

body {
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4;
}
img {
  height: auto;
  max-width: 100%;
}
#mapDiv img { 
	max-width: none; 
}
a img {
  border: 0;
}
a:link, a:visited {
	color: #06c;
	text-decoration: none;
}
a:hover, a:active {
  border-bottom: 1px solid #036;
  color: #036;
}
.round {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
ul {
	list-style-type: circle;
}
ul, ol {
  margin: 9px 0 18px 27px;
}
li {
  margin: 0 0 9px 0;
}
p {
  margin-bottom: 18px;
}
h1 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 18px;
}
h2 {
	color: #999;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 24px;
}
h3 {
	color: #000;
	font-size: 18px;
	margin-top: 9px;
	margin-bottom: 18px;
}
h4 {
	width: 20%;
	line-height: 2em;
	height: 20px;
	float: left;
	text-align: center;
	background-color: #369;
	padding: 0;
	margin: 0;
	border-width: 0;
	border-style: solid;
	border-color: #000;
}
h5 {
	font-size: 14px;
	margin-bottom: 6px;
	margin-top: 15px;
	border-width: 0 0 1px 0;
	border-color: #e5e5e5;
	border-style: solid;
	padding: 2px;
	color: #387cbc; 
	font-weight: bold;
}
sup {
	font-size: 10px;
	position: relative;
	top: -1em;
}
.clearfix:before, .clearfix:after {
	content: "";
  display: table; 
	zoom: 1; /* for IE */
}
.clearfix:after {
	clear: both;
}



/* Format =================== */

.wrap {
	width: 90%;
	margin: 0 auto;
}
.pro-tag h2 {
  color: #333;
  font-size: 22px;
  font-weight: normal;
  margin: 1em 0;
  padding: 6px 0;
  text-align: center;
}
.pro-tag h2 strong:first-of-type {
  background: url('/images/underline.png') no-repeat 3px 34px;
  padding: 10px 0;
}
.content:after, .row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#header {
	margin: 0 0 2em 0;
 	padding: 1em 0;
}
#header-inner {
	padding-top: 10px;
	position: relative;
}
#logo {
    position: relative;
    top: 8px;
}
#logo img {
    max-width: 75%;
}
#logo a:hover {
  border: 0 none;
}
#utility {
  position: absolute;
  right: 0;
  top: 32px;
}
a.login {
  position: relative;
  padding: 10px 22px 10px 13px;
  right: 0;
  border: 0 none;
  color: #000;
  font-size: 13px;
  padding-right: 18px;
  top: -38px;
}
a.login.active {
  color: #fff;
  background-color: #000;
  position: relative;
  background-repeat: no-repeat;
  background-position: 98% center;
  z-index: 10;
  border-radius: 5px;
}
a.login span {
  background-color: #fff;
  color: #fff;
  display: none;
  height: 17px;
  position: absolute;
  top: 30px;
  padding-left: 33px;
  left: -2px;
}
#login_box p {
  margin-bottom: 12px;
}
#login_box {
  background: #000;
  color: #fff;
  width: 200px;
  position: absolute;
  font-size: 11px;
  right: 0;
  padding: 20px;
  text-align: left;
  top: 25px;
  z-index: 99;
  border-radius: 5px;
}
#login_box a {
  color: #fff;
  font-size: 12px;
}
#login_box label {
  display: block;
  font-size: 12px;
}
#login_box span {
  float: left;
  font-size: 12px;
  margin-top: 10px;
}
#login_box label[for="remember_me"] {
   float: left;
   margin-top: 10px;
}
#login_box input[type="text"],
#login_box input[type="password"] {
   padding: 6px;
   width: 180px;
}
#login_box input.button {
   float: right;
   font-size: 14px;
   padding: 8px 20px;
}
#nav-toggle {
  color: #000;
  font-size: 1.5em;
  position: absolute;
  right: 0;
  top: 30px;
}
#nav-toggle:hover {
  border-bottom: 0 none;
}
#header .nav {
  background-color: #13b5d4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#13b5d4), to(#460b8b)); 
  background-image: -webkit-linear-gradient(top, #13b5d4, #460b8b); 
  background-image:    -moz-linear-gradient(top, #13b5d4, #460b8b); 
  background-image:     -ms-linear-gradient(top, #13b5d4, #460b8b); 
  background-image:      -o-linear-gradient(top, #13b5d4, #460b8b); 
  background-image:         linear-gradient(to bottom, #13b5d4, #460b8b);
  -webkit-border-radius: 3px; 
     -moz-border-radius: 3px; 
          border-radius: 3px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .07), inset 0px 2px 0px 0px rgba(255, 255, 255, .35);
     -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .07), inset 0px 2px 0px 0px rgba(255, 255, 255, .35);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .07), inset 0px 2px 0px 0px rgba(255, 255, 255, .35);
  margin-top: 1em;
  text-align: center;
  display: none;
}
  #header .nav a:link, #header .nav a:visited {
    border-bottom: 1px solid rgba(255,255,255,0.5);
  	color: #333;
    display: block;
  	font-weight: normal;
  	line-height: 32px;
  	font-size: 1em;
  	padding: 8px 1%;
  	text-decoration: none;
  	text-transform: lowercase;
  }
  #header .nav a:link, #header .nav a:visited {
  	color: #FFF;
    margin: 0;
  	position: relative;
  }
  .nav a:hover, .nav a.current {
    color: #999;
  }
  #header .nav a:hover, #header .nav a.current {
    color: #ffedb5;
  }

h1.home span {
	color: #369;	
}
h1.home em {
	font-style: normal;
	font-weight: bold;
	color: #666;
}
h1.home b {
	font-size: 12px;
	color: #999;
}
h2.home {
	font-size: 16px;
	margin: 2px 20px 0 0;
	width: 500px;
}
.row {
  margin: 45px 0 0;
}
.column {
  margin-left: 20px;
  float: left;
}
.column.left {
  width: 620px;
}
.column.right {
  width: 290px;
}
#footer {
  background: #444343;
  color: #eee;
  font-size: .75em;
  margin: 4em 0 0;
  padding: 20px 0 50px;
}
#footer h2 {
  font-size: 1.25em;
  margin-bottom: 1em;
}
#footer li {
  list-style-type: none;
}
#footer p {
   line-height: 32px;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  border: 0 none;
  color: #ddd;
}
#footer .nav a {
  display: block;
}
.intro h1 {
  font-size: 2.25em;
  font-weight: 500;
  letter-spacing: -.025em;
}
.intro .button {
  color: #666;
}
#video {
  margin-bottom: 1em;
  text-align: center;
}
#video div {
  padding: 6px;
}
#video img {
  border: 2px solid #fff;
  box-shadow: 0 0 -10px 15px #eee;
}
#video p {
  margin: 9px 0;
}
#publishers {
  margin-bottom: 3em;
  padding: 1em 0;
  text-align: center;
}
#publishers h2 {
  text-align: left;
}
#publishers p {
  margin: .5em 0 0;
  padding: .5em 0 0;
}
#publishers a.round, #testimonials a.round {
  border: 0 none;
  background: #dfdfdf;
  color: #333;
  font-size: 14px;
  display: block;
  margin-top: 2em;
  padding: 8px;
}
#publishers a.round:hover, #testimonials a.round:hover {
  background: #ccc;
}
#mobile-callout {
  font-size: 12px;
}
#mobile-callout h2 {
  font-size: 16px;
  margin-bottom: 9px;
}
#mobile-callout img {
  float: right;
  margin: -18px 0 0 10px;
  width: 68%;
}
#mobile-callout ul {
  margin-bottom: 4em;
}
#mobile-callout .round {
  background: #eee;
  padding: 1em;
}
#mobile-callout a.round {
  border: 0 none;
  background: #dfdfdf;
  font-size: 14px;
  margin: 18px -1em -1em;
  display: block;
}
#content-wrap {
  background: #eee;
  border-top: 1px solid #ddd;
  margin-top: 45px;
/*   overflow: hidden; */
  padding: 0 0 72px 0;
}
#content-wrap.slideshow {
/*
  background-color: #ffe681;
  border-bottom: 1px solid #13b5d4;
  border-top-color: #13b5d4;
*/
  padding: 1.5em 0;
  margin-bottom: 3em;
}
.slideshow>.content>img {
  margin-left: 0px;
}
#pro-intro h1 {
  color: #000;
  line-height: 1.1;
  margin: 4px 0 16px 0;
  font-size: 32px;
}
#pro-intro h1 span {
	font-weight: 100;
	letter-spacing: 1px;
	white-space: nowrap;
}
.price {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
}
.price sup {
  font-size: 24px;
  position: relative;
  top: -16px;
}
.price em {
  color: #666;
  font-size: 12px;
  margin-left: -39px;
}
#pro-intro ul {
	margin-bottom: 2.5em;
}
#how-to-use ol {
  margin: 0;
}
#how-to-use li {
  font-size: .875em;
  list-style: none;
  margin-bottom: 32px;
  overflow: hidden;
}
#how-to-use li img {
  float: left;
  margin: 0 1em 1em 0;
}
#go-pro {
  background: #fff;
  padding: 18px;
}
#go-pro img {
  margin-bottom: 18px;
}
#testimonials {
  margin-bottom: 3em;
}
#testimonials .more {
  border: 0 none;
  display: block;
  text-align: center;
  margin: 1em auto;
  width: 40%;
}
#favorites ul {
	margin: 0;
}
#favorites li {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 0.75em;
	list-style-type: none;
	margin-left: 0;
	text-align: left;
	clear: both;
	width: 100%;
}
#favorites li div {
  background: #e1eef3;
  border-radius: 3px;
	display: block;
	min-height: 120px;
  padding: 1em;
}
.tweet_avatar {
  background: #efefef;
  display: block;
  float: left;
  padding: .3em;
  margin: .3em;
}
.tweet_avatar:hover {
  border: none;
}
.tweet_avatar img {
  display: block;
}
.tweet_time, .tweet_user {
  display: block;
	font-size: 10px;
}
.tweet_user {
	font-weight: bold;
}
#go-pro ul {
  margin-top: 18px;
}
#go-pro li {
  font-size: 12px;
  margin-bottom: 9px;
  padding: 4px;
}
#mapCount {
	font-weight: bold;
}
/*
li.tweet_even {
}
li.tweet_odd {
  background-color: #fff;
}
*/
#go-pro a:hover {
  border-bottom: 0 none;
}
#pro-features div {
  border-bottom: 1px solid #efefef;
  margin-bottom: 2em;
}
#pro-features span,
.billingpoints span {
	color: #13b5d4;
	font-size: 3em;
	float: right;
	margin: -0.2em 0 0 1em;
	text-shadow: 0 -1px 0 rgb(250, 190, 66);
}
.billingpoints span {
	margin: 0 0 0 .5em;
}

#pro-cta {
  margin: 1em auto;
}
#pro-cta h2 {
  margin-bottom: -8px;
}
#pro-cta .get_started_button {
  float: right;
}
.mobile h2 {
   margin-bottom: 18px;
}
.mobile a {
   border: 0 none;
}
.mobile ul {
   margin-bottom: 50px;
}
#webapp .fourcol p {
  margin-top: 3.3em;
}
.offer_to_sign_in {
	margin-bottom: 1em;
}
#sign_up_form fieldset {
  background: #eee;
  margin-bottom: 2em;
  padding: 20px 30px 30px;
  text-align: left;
}
#sign_up_form h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 9px;
  text-align: center;
}
#sign_up_form .field {
	margin-bottom: 0;
}
#sign_up_form .field span {
  display: block;
  font-size: 11px;
/*   margin-left: 42%; */
}
#sign_up_form label {
  display: block;
/*   float: left; */
  margin-right: 10px;
  padding: 8px 0 2px;
/*   text-align: right;
  width: 40%; */
}
#sign_up_form input[type="text"], #sign_up_form input[type="password"] {
  padding: 5px;
  font-size: 14px;
  width: 96%;
}
#sign_up_form label[for="card_expires_on_month"] {
	margin-bottom: 6px;
}
#credit_card_form select {
  width: auto;
}
#card_number {
  margin-right: 10px;
}
.lock {
  margin-right: 4px;
  position: relative;
  top: 4px;
}
.amount {
	margin-top: 18px;
}


.billingpoints h2 {
  margin-bottom: 0;
}
#sign_up_form input[type="submit"] {
   margin-left: 40%;
  /* margin-bottom: 72px; */
}
.right.signup h2 {
  margin-bottom: 0;
  margin-top: 50px;
}
.instruction {
	font-size: 0.925em;
}

#sales-tax { display : none }

/* Mapping =================== */

#generator {
  background: #eee;
  box-shadow: inset 0px 2px 8px rgba(0,0,0,0.05);
  border-bottom: 1px solid #eee;
  margin-bottom: 3em;
	padding: 1em 0 3em;
}
#generator h1 {
  color: #555;
  font-size: 1.875em;
  margin-bottom: 0;
  text-shadow: 0px 1px 0 white;
}
#generator h2 {
  color: #222;
  font-size: 1.5em;
  margin-bottom: 0;
}
#generator hr {
  margin-top: 4em;
}
fieldset, .fieldset {
	text-align: center;
	font-size: 14px;
  	border-radius: 6px;
  	-moz-border-radius: 6px;
  	-webkit-border-radius: 6px;
}
.fieldset p {
  color: #666;
  font-size: 13px;
  margin-bottom: 18px;
}
legend, .step {
	color: #369;
	font-weight: bold;
	margin: -38px 0 6px 4px;
	padding: 2px;
	font-size: 14px;
	text-align: left;
}

#sourceWrap {
	cursor: pointer;
	display: inline-block;
	height: 130px;
	margin: 12px auto 18px auto;
	padding: 2px 4px;
	max-width: 1024px;
	width: 92%;
}

#generator textarea {
	font-size: 11px;
	font-family: "Courier New", Courier, mono;
	border: 1px solid #aaa;
	background-color: #fff;
	color: #333;
	overflow-x: hidden;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	resize: vertical;
	width: 100%;
	height: 130px;
  	-webkit-box-shadow: inset 0 2px 6px rgba(0,0,0,0.1);
  	-moz-box-shadow: inset 0 2px 6px rgba(0,0,0,0.1);
  	box-shadow: inset 0 2px 6px rgba(0,0,0,0.1);
}

/* Tableize =================== */

div.tableize { 
	position: relative;
	width: 98% !important;
	height: 140px; 
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #bebebe; 
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 2px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 #fff, inset 0 2px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 #fff, inset 0 2px 10px rgba(0, 0, 0, 0.2);
}
em.tableize {
	position: absolute;
	top: 55px;
	left: 1px;
	width: 99%;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	font-style: normal;
	color: #666;
	-moz-text-shadow: 0 -1px 0 #fff;
	-webkit-text-shadow: 0 -1px 0 #fff;
	text-shadow: 0 -1px 0 #fff;
}
table.tableize {
	margin: 4px;
	overflow: auto;
	text-align: left;
	white-space: nowrap;
	width: 99%;
	color: #000;
	opacity:0.3;
	filter:alpha(opacity=33);
}
#generator table.tableize th {
	font-weight: bold;
	font-size: 13px;
	padding: 4px;
	margin: 2px 0 2px 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #f63;
}
#generator table.tableize tr {
	margin: 0 0 2px 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #ddd;
}
table.tableize td {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 170px; 
	font-size: 13px;
	margin: 0;
	padding: 4px;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #aaa;
}
td:last-child {
  border: 0 none;
}

.l {
	color: #369;
}

.small {
	font-size: 12px;
	line-height: 18px;
}

.vS {
	height: 5px;
}

.status {
	color: #090;
	font-weight: bold;
	font-size: 14px;
}

.markerLabel {
	position: relative;
	font-size: 12px;
	padding: 4px;
	margin: 0;
	text-align: left;
	max-width: 400px;
	line-height: 1.2em;
}

#pg {
	font-size: 11px;
	left: 100%;
	margin-left: -104px;
	padding: 2px;
	position: absolute;
	top: 8px;
	z-index: 99;
}

#pgC {
  margin: 0 6px;
}

#pgP, #pgN {
	background-color: #efefef;
  border: 1px solid #b1b4b8;
  border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	cursor: pointer;
	color: #369;
	padding: 2px 4px;
}
#pgP:hover, #pgN:hover {
	background-color: #ddd;
  border: 1px solid #717b87;
}

.markerLabel h5 {
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 4px 0;
	border: 0;
	padding: 0;
	color: #000;
}

.markerLabel table.adrWrap {
	border-width: 0;
	padding: 0;
	border-spacing: 0;
	margin: 0 0 4px 0;
}

table.adrWrap td {
	padding: 0;
	border-width: 0;
}

.markerLabel td.address {
	margin-bottom: 4px;
}

.markerLabel td.zoom {
	padding: 0 0 0 6px;
	vertical-align: middle;
}

#rmMarker, #zoom {
	cursor: pointer;
}

#generator #zoom, #preview #zoom {
	display: none;
}

img.descIMG,div.tabRow img {
	max-width: 300px;
	border: 0;
	margin: 10px;
}
div.tabRow img {
	float: right;
}

.tabRow {
	cursor: pointer;
}

a.marker:link,a.marker:visited {
	display: block;
	margin: 2px 0;
	padding: 0;
}

a.goog:link,a.goog:visited {
	text-decoration: none;
	color: #000;
}

select {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #aaa;
	background-color: #fff;
	width: 155px;
}

form {
	display: inline;
}



/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
ColorBox
*/
#cboxOverlay{background:url('/images/overlay.png') 0 0 repeat;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url('/images/controls.png') -100px 0 no-repeat;}
    #cboxTopRight{width:21px; height:21px; background:url('/images/controls.png') -129px 0 no-repeat;}
    #cboxBottomLeft{width:21px; height:21px; background:url('/images/controls.png') -100px -29px no-repeat;}
    #cboxBottomRight{width:21px; height:21px; background:url('/images/controls.png') -129px -29px no-repeat;}
    #cboxMiddleLeft{width:21px; background:url('/images/controls.png') left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url('/images/controls.png') right top repeat-y;}
    #cboxTopCenter{height:21px; background:url('/images/border.png') 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url('/images/border.png') 0 -29px repeat-x;}
    #cboxContent{background:#fff;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:3px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:3px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:3px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0px; background:url('/images/controls.png') -75px 0 no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url('/images/controls.png') -50px 0 no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url('/images/loading_background.png') center center no-repeat;}
        #cboxLoadingGraphic{background:url('/images/loading.gif') center center no-repeat;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url('/images/controls.png') -25px 0 no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

/* social buttons */

#socialButtons {
	width:400px;
	margin:auto;
	clear: both;
}

#facebookButton {
	border:none; 
	overflow:hidden; 
	width:400px; 
	height:25px; 
}

#twitterButton {
	height:25px;
	float:right;
	padding-top:4px;
}

#mapDirections {
	text-align: center;
	padding: 0 4px;
}

.adp-directions {
	margin: auto;
}

#mobile-map {
	margin: 2px 0 6px 10px;
}
.clear {
	clear:both;
	margin-top:-1px;
	height:1px;
	overflow:hidden;
}
.directions-link {
	font-size: 12px;
}
a.directions-link {
	text-decoration: none;
	color: #000;
	font-size: 12px;
}
.postmetadata {
	font-size: 11px;
}

/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* red */
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

/* green */
.green {
	color: #ffedb5;
	border: solid 1px #ffedb5;
	background: #ffedb5;
	background: -webkit-gradient(linear, left top, left bottom, from(#13b5d4), to(#460b8b));
	background: -moz-linear-gradient(top,  #13b5d4,  #460b8b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#13b5d4', endColorstr='#460b8b');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#460b8b), to(#13b5d4));
	background: -moz-linear-gradient(top,  #460b8b,  #13b5d4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#460b8b', endColorstr='#13b5d4');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

/* blue */

.blue {
	color: #dee9f0;
	border: solid 1px #124f83;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#599dde), to(#3c78b2));
	background: -moz-linear-gradient(top,  #599dde,  #3c78b2);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#599dde', endColorstr='#3c78b2');
}
.blue:hover {
	background: #89bff2;
	background: -webkit-gradient(linear, left top, left bottom, from(#478bcd), to(#326595));
	background: -moz-linear-gradient(top,  #478bcd,  #326595);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#478bcd', endColorstr='#326595');
}
.blue:active {
	color: #89bff2;
	background: -webkit-gradient(linear, left top, left bottom, from(#3c78b2), to(#599dde));
	background: -moz-linear-gradient(top,  #3c78b2,  #599dde);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c78b2', endColorstr='#599dde');
}

/* button 
---------------------------------------------- */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 18px/100% Arial, Helvetica, sans-serif;
	padding: .8em 2em .85em;
	dis_text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover { 
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.buttonsmall {
	font-size: 11px;
	padding: .5em;
}

.buttonmedium {
	font-size: 14px;
	padding: 1em;
}
.get_started_button {
  font-size: 22px;
  margin-bottom: 1em;
  padding: .6em 1em;
  width: 100%;
}
.get_started_button em {
  font-size: 14px;
  font-style: normal;
}


/* Captions */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f6f6f6;
	padding-top: 4px;
	margin-bottom: 35px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 12px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
/* End captions */





/* Leftovers? =================== */

.center {
	text-align: center;
}

.hide { 
	display: none; 
}

#map_title, #map_email, #map_description { width: 350px; }

#inline_save { margin: 0 0 -6px 0; padding: 6px 6px 0 6px; }
#inline_embed { margin: 0; padding: 0 10px; }
#inline_save label { float: left; text-align: right; margin-right: 10px; width: 114px; padding: 2px 0 0 0; display: block; }
#inline_save label.share { float: none; margin: 0; padding: 0; display: inline; }
#inline_save div.input_desc { text-align: left; }
#inline_save div.input_desc span.small { display: block; margin: 4px 0 0 124px; }
#inline_save .line { margin: 8px; }
#inline_save #fields label { width: 40%; }
#inline_message  { padding: 20px; text-align: justify; }
#validate_status { display: none; margin-top:14px; }
#geocode_button { margin: 0 0 0 0; }
#geocoder_status { display: none; margin:14px 0 0 0; }
#dist_sel { width:85px; }
#view_sel { width:75px; }
#mainText { margin-top: 10px; }
#mapFields { height: 245px; }
#locFields, #mapOptions, #mapFields, .validateFields { font-size: 12px; width: 500px; margin: 0 auto; }
#locFields, #mapFields, .validateFields { text-align: right; }
#mapOptions { text-align: center; }
#advanced_button { margin: 12px auto 0px auto; }
#locFields label, #mapFields label, .validateFields label { display: block; float: left; width: 40%; margin: 4px 0 0 0; line-height: 25px; clear: both; }
#locFields select, #mapFields select, .validateFields select { display: block; float: right; width: 38%; margin: 4px 20% 0 0; height: 25px; padding: 2px 0 0 0; }
#mapOptions label { display: block; margin-bottom: 5px; }
#mapOptions input { margin: 0; padding: 0; }
#locFields + label { font-weight: bold; }
#mapDiv { 
	height: 450px;
	margin:0 auto; 	
	border-width: 1px; 
	border-style: solid; 
	border-color: #aaa; 
 }
#legWrap {
	background-color: #333; 
	color: #fff; 
	position: relative; 
	clear: both; 
	filter: alpha(opacity=80); 
	opacity:.8;
}
#legDiv { 
	font-size: 12px;
	line-height: 29px;
	margin:0 auto;
	padding: 0; 
	border-width: 0 0 0 0; 
	border-style: solid; 
	border-color: #aaa; 
	background-color: #333; 	 
	color: #fff; 
	text-align: center;
}
#legDiv img { margin: 4px 0 -3px 0; }
#legDiv span { 
	margin: 0 4px; 
	display: inline;
	background-repeat: no-repeat; 
	background-position: left top; 
	padding: 2px 2px 2px 15px ;
	cursor: pointer;
	height: 20px;
	white-space: nowrap;
}
#legDiv select { margin: 5px; }
#save_map { margin-top: 14px; }
#preview {
	background-color: #fff;
	border: 1px dashed #aaa;
	margin: 8px auto;
	padding: 8px;
	width: 325px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;	
}
#buttonsDiv.fieldset { margin-top: 10px; }
#mapheader { margin-bottom: 14px; }
#dis_buttonsDiv button, #dis_buttonsDiv input[type="submit"] { width: 23%; margin: 0 3px; }
#sourceData, #destData {  height: 126px; }

ul#cmsheadline {border: none; margin: 0; padding: 4px 4px 10px 6px; list-style: none;}
#cmsheadline li {list-style: none;  float: left; font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:12px; text-align:left; height: 50px; margin: 0;}
#cmsheadline .one {width: 300px; padding: 0 50px 10px 0;}
#batchgeo {padding-right: 70px;}
ul.cms {border-top: 1px solid #e5e5e5; margin: 0; padding: 4px 4px 10px 6px; clear:both}
.cms li {list-style: none; float: left; font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000; text-align:left; height: 14px; margin: 0;}
.cms .one {width: 430px;}
.cms .two {width: 175px;}
.mapBorder { 
	border: 0px;
}

hr {
	background: url('/images/separator.png') no-repeat center top;
	background-size: cover;
	border: 0;
  margin: 18px 0 -110px;
  padding: 78px;
}

#feature li {
  list-style-type: decimal;
}

#side-nav ul {
  background: #eee;
  list-style: none;
  margin-left: 0;
  padding: 5px 0 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#side-nav li {
  margin: 0 0 1px;
}
#side-nav a {
  background: url('/images/feature-nav-arrow.png') no-repeat;
  background-position: 120% bottom;
  color: #000;
  display: block;
  padding: 3px 10px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
}
#side-nav a:hover, #side-nav a.current {
  background-position: 100% bottom;
  color: #f63;
  border: 0 none;
  padding: 3px 7px 3px 13px;
  text-decoration: none;
}
#side-nav a.current {
  color: #06c;
}
#side-nav li.prolist {
  background: #ffe681;
  border-top: 1px solid #fff;
  display: block;
  margin: 4px 0;
  padding: 4px 0 0;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.prolist img {
  margin-left: 10px;
}
#side-nav li ul {
  background: #fff;
  border: 2px solid #ffe681;
  margin-top: 0;
  padding: 5px 0;
}
#side-nav li ul a {
  color: #f63;
}
#side-nav li ul a:hover, #side-nav li ul a.current {
  background-position: 100% top;
  color: #000;
}

@media screen and (min-width: 480px) {
  #logo {
      top: 0;
  }
  #logo img {
      max-width: 100%;
  }
  #header .nav {
    display: inherit;
  }
  #header .nav a:link, #header .nav a:visited {
    border: 0 none;
  	display: inline-block;
  }
  #header .nav a:first-child {
    width: 20%;
  }
  #header .nav a:nth-child(2) {
    width: 13%;
  }
  #header .nav a:nth-child(3) {
    width: 18%;
  }
  #header .nav a:nth-child(4) {
    width: 12%;
  }
  #header .nav a:nth-child(5) {
    width: 13%;
  }
  #header .nav a:nth-child(6) {
    width: 7%;
  }
  a.login {
    top: 0;
  }
  #sign_up_form input[type="text"], #sign_up_form input[type="password"] {
  	width: auto;
  }  
}

@media screen and (min-width: 624px) {
  #favorites li {
  	clear: none;
    float: left;
    margin-right: 2.762430939%;
    width: 22.928176794%;
  }
  #favorites li:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
	.onecol    { width: 5.801104972%;  }
	.twocol    { width: 14.364640883%; }
	.threecol  { width: 22.928176794%; }
	.fourcol   { width: 31.491712705%; }
	.fivecol   { width: 40.055248616%; }
	.sixcol    { width: 48.618784527%; }
	.sevencol  { width: 57.182320438000005%; }
	.eightcol  { width: 65.74585634900001%; }
	.ninecol   { width: 74.30939226%; }
	.tencol    { width: 82.87292817100001%; }
	.elevencol { width: 91.436464082%; }
	.twelvecol { width: 99.999999993%; }
	.onecol, .twocol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  	position: relative; float: left; margin-left: 29.762431%; }
	
	.threecol {position: relative; float: left; margin-left: 2.762430939%;}
	
	
  	.pushone { margin-left: 5.801104972% }
  	.pullone { margin-right: 5.801104972% }
	.first { margin-left: 0; }
	.last { float: right; }
	.wrap {
  	max-width: 1140px;
  }
  #header {
  	padding: 2em 0 .5em;
 		margin: 0 0 2em 0;
  }
  #logo {
    margin-top: -3.25%;
    position: relative;
    top: 32px;
  }
  #utility {
    top: -15px;
  }
  #header .nav a.current:after {
     border-color: transparent transparent #fbfbfb;
     border-style: solid;
     border-width: 10px;
     bottom: -3px;
     content: '';
     height:0;
     left: 40%;
     position: absolute;
     width:0;
  }
  .intro p {
    margin-bottom: 2.5em;
  }
  #publishers a.round, #testimonials a.round {
    margin-top: 0;
  }
  #generator h1 {
    font-size: 2.5em;
  }
  #pro-intro {
	text-align: left;	  
  }
  .price {
	  margin-left: -40px;
  }
  .get_started_button {
	  margin-bottom: 0;
	  width: 80%;
  }
  .pro-slide {
  	overflow: hidden;
    margin: -3.5em 0 -3em;
  }
  .pro-slide img {
  	max-width: none;
	height: 468px;
  }
  #pro-features div {
    min-height: 250px;
  }
  #pro-features .fourcol {
    margin-left: 8.762430939%;
    width: 27.491712705%;
  }
  #pro-features .fourcol.first {
    margin-left: 0;
  }
  p.field {
    margin-left: 25%;
  }
}
@media screen and (min-width: 1064px) {
  #pro-features div {
    min-height: 210px;
  }
  #favorites li div {
  	float: right;
  	margin: 0;
    width: 60%;
  }
}	


